body
{
    background-image: url(cf2a0a5c-86a9-4225-a902-d7a11ec4c6d0_base_resized.jpg);
}
h1
{
    font-family: "けいふぉんと";
    font-size: 60px;
    
}
p
{
    font-family: "けいふぉんと";
    font-size: 40px;
    color: rgb(218, 25, 144);
}
img
{
    size: 30px;
}